/* ===== ESTILO GLOBAL ===== */
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}
body{background:#eef1f5;}

/* ===== LAYOUT ===== */
nav{
    background:#0A4D8C;
    color:white;
    padding:15px;
    font-size:20px;
    text-align:center;
}

.container{
    background:white;
    max-width:900px;
    margin:20px auto;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* ===== FORMULÁRIOS ===== */
form label{font-weight:bold;margin-top:10px;display:block;}
form input, form select{
    width:100%;
    padding:10px;
    margin:6px 0 12px 0;
    border:1px solid #ccc;
    border-radius:5px;
}
button{
    background:#0A4D8C;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}
button:hover{background:#0960ae;}

/* ===== LISTA ===== */
ul li{
    background:#f7f7f7;
    padding:10px;
    border-radius:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
    border:1px solid #ddd;
}
ul li button{
    padding:5px 10px;
    background:#0A4D8C;
}

/* ===== LOGIN ===== */
.login-container{
    background:white;
    width:350px;
    margin:130px auto;
    padding:30px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.login-container input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

/* ===== SEÇÕES DO FORMULÁRIO ===== */
h3{
    background:#0A4D8C;
    color:white;
    padding:8px;
    margin-top:20px;
    border-radius:5px;
    font-size:17px;
    letter-spacing:.5px;
}

/* ===== VISUALIZAÇÃO ===== */
#dados img{border-radius:5px;margin-top:10px;}


#dados p{margin:6px 0;}
#dados h2{margin-bottom:10px;}

div{text-align:left;}
